{
  "extends": "ship-components",
  "env": {
    "jest": true
  },
  "rules": {
        "func-names": 0,
        "react/prop-types": 0,
        "react/require-default-props": 0,
        "react/require-optimization": 0
  }
}